{{#each this}}
  <div class='cocktaile mobile-size'>
    <div class='cocktaile-card'>
      <h3 class='cocktaile-card__title'>{{strDrink}}</h3>
      <p class='cocktaile-card__instractions'>instractions:</p>
      <p class='cocktaile-card__description'>{{strInstructions}}</p>
      <img
        class='cocktaile-card__image'
        src={{strDrinkThumb}}
        alt='cocktaile-negroni'
      />
    </div>
    <div class='cocktaile-ingredients'>
      <p class='cocktaile-ingredients__title'>ingredients</p>
      <p class='cocktaile-ingredients__per'>Per cocktail</p>
      <ul class='cocktaile-ingredients__list list'>
        <ul class='cocktail-ingridients-list list'>
          {{#each ingridients}}
            <li class='cocktail-ingridients-item'>
              <span class='cocktaile-ingredients__star'>✶</span>{{this}}</li>
          {{/each}}
        </ul>
      </ul>
    </div>
    <button class='cocktaile-card__btn' type='button' id={{idDrink}}>Add to
      favorite</button>
    <button class='cocktaile-card__close-btn'>
      <svg width='32' height='32'>
        <use href='./images/icon.svg#close'></use>
      </svg>
    </button>
  </div>
{{/each}}

{{#each this}}
  <div class='cocktaile tablet-size'>
    <div class='cocktaile__wrapper-top'>
      <img class='cocktaile-card__image' src={{strDrinkThumb}} alt='' />
      <div class='cocktaile__wrapper-bottom'>
        <h3 class='cocktaile-card__title'>{{strDrink}}</h3>
        <div class='cocktaile-ingredients'>
          <p class='cocktaile-ingredients__title'>ingredients</p>
          <p class='cocktaile-ingredients__per'>Per cocktail</p>
          <ul class='cocktail-ingridients-list list'>
            {{#each ingridients}}
              <li class='cocktail-ingridients-item'>
                <span class='cocktaile-ingredients__star'>✶</span>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class='cocktaile-card__wrapper'>
      <div class='cocktaile-card__instractions-wrapper'>
        <p class='cocktaile-card__instractions'>instractions:</p>
        <p class='cocktaile-card__description'>{{strInstructions}}</p>
      </div>
      <div class='cocktaile-card__btn-wrapper'>
        <button class='cocktaile-card__btn' type='button' id={{idDrink}}>
          Add tofavorite
        </button>
      </div>
    </div>
    <button class='cocktaile-card__close-btn'>
      <svg width='32' height='32'>
        <use href='./images/icon.svg#close'></use>
      </svg>
    </button>
  </div>
{{/each}}